#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=eth0 --onboot=on

# Firewall configuration
firewall --enabled --ssh

# SELinux configuration
selinux --enforcing

# Reboot after installation
reboot

# System timezone
timezone Asia/Shanghai

# Clear the Master Boot Record
zerombr

# Disk partitioning
autopart --type=plain

%packages
@core
%end
