#platform=x86, AMD64, 或 Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Root password
rootpw --plaintext Kingsoft123
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone --isUtc Asia/Shanghai
network --onboot yes --bootproto dhcp
# System bootloader configuration
bootloader --append="console=ttyS0 console=tty0 edd=off" --location=mbr
#bootloader --append="console=ttyS0 console=tty0 edd=off" --location=partition --driveorder=sda,vda,vdb
# Clear the Master Boot Record
zerombr
# Partition clearing information
#clearpart --all
## Disk partitioning information
#part /boot --fstype="ext4" --size=500
#part / --fstype="ext4" --grow --size=1024
#clearpart --all --initlabel --disklabel=gpt
clearpart --all
# --drives=vda
# Disk partitioning information
#自动配置分区
#autopart
part / --fstype="ext4" --grow --size=1024
part /boot --fstype="ext4" --size=500


%packages --nobase
@core

%end
