#platform=x86, AMD64, 或 Intel EM64T
#version=RHEL8
# Reboot after installation
reboot
# Use text mode install
text

%packages
@^minimal-environment
-iwl*-firmware
%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=localhost.localdomain

# Use network installation
url --url="http://luna.galaxy.ksyun.com/centos/$releasever/BaseOS/$basearch/os/"

# System authorization information
authselect --enableshadow --passalgo=sha512
# SELinux configuration
selinux --disabled

firstboot --disable
# Do not configure the X Window System
skipx

ignoredisk --only-use=vda
# System bootloader configuration
bootloader --append="console=ttyS0 console=tty0 edd=off" --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --disklabel=gpt
# Disk partitioning information
part biosboot --fstype="biosboot" --size=2
part /boot --fstype="ext4" --size=500
part / --fstype="ext4" --grow  --size=9736

# System timezone
timezone Asia/Shanghai --isUtc

# Root password
rootpw --plaintext Kingsoft123

%pre
parted -s /dev/sda mklabel gpt
parted -s /dev/vda mklabel gpt
#parted -s /dev/sdb mklabel gpt
#parted -s /dev/sdc mklabel gpt
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
