#version=DEVEL
# ignoredisk --only-use=sda
# autopart --type=lvm
bootloader --location=mbr 
# Clear the Master Boot Record
zerombr
# Partition clearing information
#clearpart --all --initlabel --disklabel=gpt
clearpart --initlabel  --linux  --disklabel=gpt
# --drives=vda
# Disk partitioning information
#part /boot/efi --fstype='efi' --size=1024 --fsoptions="defaults,uid=0,gid=0,umask=0077,shortname=winnt"
part biosboot --fstype=biosboot --size=1
#part / --fstype="ext4" --grow --size=2000000 --onpart=/dev/sda2 
part / --fstype="ext4" --grow --size=1024
part /boot --fstype="ext4" --size=300
# Partition clearing information
# clearpart --none --initlabel
# Use graphical install 图形化
#graphical
#命令行
install
# Use CDROM installation media
#cdrom
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8
url  --url=http://luna.galaxy.ksyun.com/openeuler/openEuler-22.03-LTS/
# Network information
network  --bootproto=dhcp --device=enp4s0 --ipv6=auto --activate
network  --hostname=openeuler.com
# Root password
rootpw --plaintext Kingsoft123
# rootpw --iscrypted $6$fQE83lxEZ48Or4zc$j7/PlUMHn29yTjCD4Fi44WTZL/RzVGxJ/7MGsZMl6QfE3KjIVT7M4UrhFXbafvRq2lUddAFcyWHd5WRmXfEK20
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai

reboot

%packages
@^minimal-environment
@standard

%end

%anaconda
pwpolicy root --minlen=8 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=8 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=8 --minquality=1 --notstrict --nochanges --notempty
%end

%post
#enable kdump
sed  -i "s/ ro / ro crashkernel=1024M,high /" /boot/efi/EFI/openEuler/grub.cfg
%end